body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background: #f4f4f4;
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    align-items: center; /* Zentriert den Inhalt vertikal */
    min-height: 100vh; /* Stellt sicher, dass der Body die ganze Höhe des Viewports einnimmt */
    margin: 0; /* Entfernt den Standard-Margin */
}

form {
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 33vw; /* Setzt die Breite auf 33% des Viewports */
    max-width: 400px; /* Maximale Breite des Formulars */
    margin: 20px; /* Zentriert das Formular horizontal und gibt vertikalen Abstand */
    border-radius: 5px;
    box-sizing: border-box; /* Einschließt Padding und Border in die Gesamtbreite */
}

h2 {
    text-align: center;
    color: #333;
}

label {
    color: #666;
    margin: 8px 0;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Einschließt Padding und Border in die Gesamtbreite */
}

textarea {
    height: 150px;
    resize: vertical;
}

.checkbox-container {
    font-size: 12px;
    color: #666;
    margin: 10px 0;
    display: flex;
    align-items: center  /* Richten Sie die Checkbox und das Label am Anfang aus */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px; /* Abstand zwischen Checkbox und Text */
}

#loadingIndicator {
    text-size-adjust: 10;
    display: flex;
    margin: 10px 0;
    padding: 10px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Einschließt Padding und Border in die Gesamtbreite */
}

button {
    background-color: #0056b3;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box; /* Einschließt Padding in die Gesamtbreite */
}

button:hover {
    background-color: #004494;
}
