:root {
  --mail-form-font-family: Arial, sans-serif;
  --mail-form-background: #fff;
  --mail-form-font-size: 1rem;
  --mail-form-headline-size: 1.5rem;
}

form {
  min-width: 300px;
  background: #ffffff;
  padding: 2rem;
  width: 100%;
  /* Setzt die Breite auf 33% des Viewports */
  max-width: 600px;
  /* Maximale Breite des Formulars */
  margin: 0;
  /* Zentriert das Formular horizontal und gibt vertikalen Abstand */
}

h2 {
  font-family: var(--mail-form-font-family);
  font-size: var(--mail-form-headline-size);
  text-align: center;
  color: #333;
}

label {
  font-family: var(--mail-form-font-family);
  color: #666;
  margin: 8px 0;
  display: block;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: var(--mail-form-font-family);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  /* Einschließt Padding und Border in die Gesamtbreite */
}

textarea {
  height: 30em;
  resize: vertical;
}

.checkbox-container {
  font-size: var(--mail-form-font-size);
  font-family: var(--mail-form-font-family);
  color: #666;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  /* Richten Sie die Checkbox und das Label am Anfang aus */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  /* Abstand zwischen Checkbox und Text */
}

#loadingIndicator {
  text-size-adjust: 10;
  display: flex;
  margin: 1rem 0;
  padding: 1rem;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  /* Einschließt Padding und Border in die Gesamtbreite */
}

button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 25rem;
  font-family: var(--mail-form-font-family);
  font-size: var(--mail-form-font-size);
  background-color: #0056b3;
  color: white;
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  /* Einschließt Padding in die Gesamtbreite */
}

button:hover {
  background-color: #004494;
}

.error-message {
  font-family: var(--mail-form-font-family);
  display: block;
  overflow-x: hidden;
  height: 0;
  max-height: 2em;
  color: red;
  font-size: 0.8rem;
  transition: max-height 0.5s;
}

.was-submitted input[type="text"]:invalid + .error-message,
.was-submitted textarea:invalid + .error-message,
.was-submitted input[type="email"]:invalid + .error-message,
.was-submitted input[type="checkbox"]:invalid + .error-message {
  height: auto;
  overflow-x: visible;
}
